* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
}

header {
    display: grid;
    place-content: center;
}

main {
    background-color: blue;
}

.galeria {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "f1 f2 f2 f3"
        "f1 f4 f5 f3"
        "f1 f6 f8 f8"
        "f1 f7 f8 f8";
        grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(8);
    grid-template-rows: repeat(4);
}

.foto {
    background-color: powderblue;
    border: 1px solid black;
}
.fotos .img{
    height: 100%;
    width: 100%;
    object-fit: center;
}
.galeria .foto:nth-last-of-type(1) {
    grid-area: f1;
}

.galeria .foto:nth-last-of-type(2) {
    grid-area: f2;
}

.galeria .foto:nth-last-of-type(3) {
    grid-area: f3;
}

.galeria .foto:nth-last-of-type(4) {
    grid-area: f4;
}

.galeria .foto:nth-last-of-type(5) {
    grid-area: f5;
}

.galeria .foto:nth-last-of-type(6) {
    grid-area: f6;
}

.galeria .foto:nth-last-of-type(7) {
    grid-area: f7;
}

.galeria .foto:nth-last-of-type(8) {
    grid-area: f8;
}


footer {
    display: grid;
    place-content: center;
}